body{
  font-family: Arial;
}
.todo-grid, .todo-input-grid{
  display: grid ;
  grid-template-columns: 200px 150px 100px;
  column-gap:10px;
  row-gap:10px;
  align-items: center; /* used to align all three colums in center with same radius from center*/
}
.todo-input-grid{
  margin-bottom: 10px;
  align-items: stretch; /*used default stretch for this button*/
}
.name-input, .due-date-input{
  font-size:15px;
  padding: 6px;
}
.add-todo-button{
  background-color: green;
  border:none;
  color:white;
  font-size: 15px;
  cursor:pointer;
}
.delete-todo-button{
  background-color: darkred;
  color:white; 
  border:none;
  font-size: 15px;
  cursor:pointer;
  padding-top: 10px;
  padding-bottom: 10px;
}